.edit-dimension-body {
    margin: 20px 0;
    .new-cube{
        text-align: center;
        i{
            font-size: 40px;
        }
    }
    .dimension-list {
        h2 {
            font-size: 14px;
            height: 20px;
        }

        ul {
            margin-top: 8px;
            width: 200px;

            li {
                height: 20px;
                line-height: 18px;
                padding: 0 8px;
                margin: 12px 0;
                border-radius: 5px;
            }
        }

        .dimension {
            margin-bottom: 10px;
            .item {
                background: #f7f7f7;
                color: rgba(0, 0, 0, 0.25);
            }
        }

        .data {
            .item {
                background: #00A0E9;
                color: #fff;
            }
        }
        .new-item{
            text-align: center;
            cursor: pointer;
        }
    }
}
/* Increase grid spacing of 16px  */
.ant-row {
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: 8px
}

.ant-row > div {
    padding: 0 8px;
}
.ant-input,
input {
    width: 180px;
}
