.create-file {
    padding: 10px 20px;
    height: 100%;
    color: rgba(0, 0, 0, 0.6);
    //box-shadow: rgba(0, 0, 0, 0.0980392) 0px 2px 4px 0px, rgba(170, 182, 206, 0.360784) 0px 16px 24px 0px;
    //background: rgb(240, 242, 243);
    .file-header {
        padding-bottom: 10px;
        border-bottom: 1px solid #2b542c;
        h2 {
            color: #3e3e3e;
            font-size: 16px;
        }
        a {
            color: #3e3e3e;
            font-size: 16px;
            display: block;
        }
        
    }
    .file-body {
        
        .folder-body {
            padding: 0 20px;
            position: relative;
            height: 100%;
            label {
                padding-right: 10px;
            }
            select {
                min-width: 180px;
            }
            .pl-25{
                padding-left: 25px;
            }
            .view-cube {
                margin-top: 10px;
                td {
                    border: 1px solid #dddddd;
                    text-align: center;
                    input[type=checkbox], input[type=radio] {
                        margin: 0;
                    }
                    span {
                        padding-left: 5px;
                    }
                }
            }
        }
        .body-header {
            padding: 0 0 10px 0;
            h2 {
                font-size: 16px;
            }
        }
        .file-name {
            padding: 15px 0;
            input {
                margin-left: 10px;
            }
        }
        .padding {
            padding: 10px;
        }
        .col-md-2 {
            width: 100px;
        }
        .folder-list {
            li {
                padding: 0 5px;
                height: 30px;
                line-height: 30px;
                border-color: #3c763d;
                span {
                    padding-left: 15px;
                }
                .success {
                    position: absolute;
                    right: 30px;
                    padding: 8px 0 0 0;
                    color: #3c763d;;
                }
            }
            .active, li:hover {
                background: #fff;
            }
            
        }
    }
    .cube-list {
        .list {
            line-height: 2;
            span {
                padding-left: 10px;
            }
            .super-list {
                .item {
                    padding-left: 20px;
                }
            }
        }
    }
    .file-footer {
        
        button {
            margin: 0 16px;
        }
    }
}