.hb-error-content {
    padding: 15px;
    padding-top: 90px;
    img {
        display: inline-block;
        margin: 10px 0 20px 0;
    }
    p {
        padding-bottom: 40px;
        color: #bcbcbc;
        font-size: 15px;
    }
}
