.bd-header {
    height: 70px;
    background: #24465A;
    width: 100%;
    color: #fff;
    margin-bottom: 10px;
    line-height: 70px;
    .header-view {
        margin: 0 20px;
        color: #ffffff;
        .logo {
            width: 200px;
            float: left;
        }
        .navigation {
            overflow: hidden;
            li {
                display: inline-block;
                a {
                    color: #BFD3DD;
                    font-size: 16px;
                    padding: 0 16px;
                    cursor: pointer;
                    display: inline-block;
                }
                a.active {
                    color: #fff;
                }
                a:hover {
                    color: #ffffff;
                    text-decoration: none;
                }
            }
        }
    }
}

@mixin view($padX,$padY,$marX,$marY) {
    background: #fff;
    border: 1px solid #dddddd;
    border-radius: 8px;
    padding: $padY $padX;
    margin: $marY $marX;
    width: 100%;
    position: relative;
}

.bd-body {
    position: relative;
    margin: 0 20px;
    .bd-container {
        margin-left: 230px;
        top: 0;
    }
    
    .box-view {
        @include view(40px, 10px, 10px, 10px);
        .view-option {
            height: 30px;
        }
        .selectCycle {
            float: left;
            height: 30px;
            
        }
        .selectDevice {
            float: left;
            margin-left: 40px;
        }
        
    }
    .view-navigation {
        padding: 0;
        position: relative;
        border-bottom: 1px solid #ddd;
        h2 {
            color: #54bebd;
            font-weight: bold;
            font-size: 24px;
            .dateRange {
                font-size: 14px;
                margin-left: 25px;
                color: #999;
            }
        }
        .nav-right {
            position: absolute;
            right: 10px;
            top: 10px;
        }
    }
    .accumulate-box, .everyday-box, .new-user {
        margin: 10px 20px 20px;
        .blank-view{
            min-width: 30%;
            display: inline-block;
            border-left: 4px solid red;
            .title {
                color: #6e7384;
                font-size: 16px;
                font-weight: bold;
                margin: 4px 0 5px 9px;
                vertical-align: middle;
            }
            .number {
                font-size: 34px;
                color: #3d4256;
                vertical-align: middle;
                margin-left: 5px;
                font-weight: bold;
            }
        }
        .b-view{
            min-width: 20%;
            display: inline-block;
            border-right: 1px solid #ddd;
            margin-left: 20px;
            padding: 11px;
            .title {
                margin-top: 4px;
                color: #979DA6;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .number {
                font-size: 28px;
                line-height: 28px;
                display: inline-block;
            }
        }
     
        .user-view {
            min-width: 33%;
            display: inline-block;
            text-align: center;
            border-right: 2px solid #ddd;
            .title {
                margin-top: 4px;
                color: #979DA6;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .number {
                font-size: 28px;
                line-height: 28px;
                display: inline-block;
            }
        }
        /* default limit box style
  * ======================================
  */
        .br-none{
            border-right: none;
        }
        .bl-none{
            border-left: none;
        }
        .bt-none{
            border-top: none;
        }
        .bb-none{
            border-bottom: none;
        }
    }
    .everyday-chart{
        margin-top: 30px;
        h2{
            color: #6E7284;
            background: #e6edf0;
            border-radius: 4px;
            height: 50px;
            vertical-align: middle;
            line-height: 50px;
            font-size: 18px;
            text-align: center;
        }
        .col{
            width: 33%;
            padding: 0 5px;
            display: inline-block;
        }
        .col-user{
            width: 50%;
            display: inline-block;
        }
        .showChart{
            margin-top: 20px;
        }
    }
    .icon {
        width: 30px;
        height: 30px;
        background: #54bebd;
        border-radius: 15px;
        text-align: center;
        line-height: 30px;
        color: #fff;
        font-size: 18px;
        margin-right: 8px;
    }
    
}
/* default limit box style
     * ======================================
     */
.br-none{
    border-right: none;
}
.bl-none{
    border-left: none;
}
.bt-none{
    border-top: none;
}
.bb-none{
    border-bottom: none;
}
