/** layout **/
.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 16px;
    cursor: pointer;
    transition: color 0.3s;
}

.trigger:hover {
    color: #108ee9;
}

.ant-layout-sider-collapsed .anticon {
    font-size: 16px;
}

.ant-layout-sider-collapsed .nav-text {
    display: none;
}
/** end **/
.logo {
    height: 32px;
    background: #333;
    border-radius: 6px;
    margin: 16px;
    background: url('/img/logo.png') no-repeat;
    border-radius: 5px;
}
.power-line {
    height: 32px;
    margin: 0 16px 16px 16px;
    border-bottom: 1px solid #fff;
    line-height: 30px;
    text-align: right;
    a {
        font-size: 14px;
        color: #fff;
        margin-left: 10px;
    }
}
.ant-menu{
    li {
        span{
            display: inline-block;
        }
    }
}
.c-menu {
    padding: 20px;

    .menuItem {
        .span {
            height: 36px;
            line-height: 36px;
            font-size: 14px;
            color: rgb(173, 178, 196);
            cursor: pointer;
            display: inline-block;
            width: 200px;
            border-bottom: 1px solid #DDDDDD;

            i {
                margin-right: 13px;
                color: rgb(173, 178, 196);
            }
        }

        .active {
            color: #FFFFFF;

            i {
                margin-right: 13px;
                color: #FFFFFF;
            }
        }

        .subItem {
            padding: 8px;

            li {
                color: rgb(173, 178, 196);
                height: 30px;
                line-height: 30px;
                cursor: pointer;
                font-size: 12px;

                i {
                    margin-right: 13px;
                    color: rgb(173, 178, 196);
                }
            };
        }
    }
}

.cube-op-body {
    padding: 20px;

    button {
        margin-bottom: 20px;

        a {
            color: #fff;
        }

        a:hover {
            color: #fff;
        }
    }
}
