/** day **/
.datePicker-container, .calendar-body {
    .datePicker-view-input {
        width: 340px;
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        cursor: pointer;
        position: relative;
        input {
            border: none;
            cursor: pointer;
        }
        .character {
            padding-right: 13px;
        }
        i {
            position: absolute;
            right: 6px;
            top: 9px;
        }
    }
}




/****************** datePicker week calender *************/
.datePicker-week-wrap {
    position: relative;
    .datePicker-week-input {
        width: 210px;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 0 16px;
        height: 28px;
        line-height: 30px;
    }
    .datePicker-week-body {
        width: 510px;
        margin-top: 0px;
        border: 1px solid #ddd;
        border-radius: 10px;
        padding: 8px;
        position: absolute;
        z-index: 11;
        background: #fff;
        right: 0;
        .save-date {
            text-align: right;
            button {
                margin-left: 10px;
            }
        }
    }
    .datePicker-month-body {
        width: 380px;
    }
}
