
.icon-spin4:before { content: '\e800'; } /* '' */
.icon-spin2:before { content: '\e801'; } /* '' */
.icon-down-open-big:before { content: '\e802'; } /* '' */
.icon-left-open-big:before { content: '\e803'; } /* '' */
.icon-right-open-big:before { content: '\e804'; } /* '' */
.icon-up-open-big:before { content: '\e805'; } /* '' */
.icon-ok-circled:before { content: '\e806'; } /* '' */
.icon-cancel-circled:before { content: '\e807'; } /* '' */
.icon-ok:before { content: '\e808'; } /* '' */